<!DOCTYPE html>
<!--
  #%L
  spring-boot3x-lib-common
  %%
  Copyright (C) 2021 - 2023 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->


<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui" name="viewport"/>
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}"/>-->

    <title>TINCORE :: ERROR [[${status}]]</title>

    <!--<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />-->

    <!--<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>-->
    <!--<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>-->
</head>
<body class="container-fluid" data-sem="error_container">
<div>
    <h1 th:text="${error}">Error</h1>
    <div data-sem="error_status" th:text="${status}">Status</div>
    <div th:text="${message}">
        Error message
        <div>

        </div>
</body>
</html>
