<!DOCTYPE html>
<!--
  #%L
  spring-boot2x-lib-common
  %%
  Copyright (C) 2021 - 2023 Tincore
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->


<html xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui"
          name="viewport"/>

    <link rel="shortcut icon" th:href="@{images/favicon.png}"
          type="image/x-icon"/>

    <title>TINCORE :: DEV</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>

<body data-sem="dev_container">
<nav class="navbar navbar-default" role="navigation">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false"
                        class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse"
                        type="button">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TINCORE Development</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a aria-expanded="false" aria-haspopup="true"
                                            class="dropdown-toggle" data-toggle="dropdown" href="#"
                                            role="button">Utils <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="divider" role="separator"></li>
                            <li class="dropdown-header">Rest</li>
                            <li><a href="/swagger-ui.html">Swagger</a></li>
                            <li class="divider" role="separator"></li>
                            <li class="dropdown-header">Database</li>
                            <li><a href="/h2-console">H2Console (H2 Only)</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@{dev}">Reload <span class="sr-only">(current)</span></a></li>
                    <li></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</nav>

<div class="container-fluid">
    <div>
        <div class="alert alert-warning">
            <strong>Warning!</strong> Screen only visible when DEV profile is
            active
        </div>
    </div>

    <div>
        <div class="alert alert-info" data-sem="message" th:if="${message}"
             th:text="${message}"></div>
    </div>

    <div>
        <div class="alert alert-success" sec:authorize="isAuthenticated()">
            <div>
                User: <span sec:authentication="name"></span>
            </div>
            <div>
                Authorities: <span sec:authentication="principal.authorities"></span>
            </div>
        </div>
        <div class="alert alert-danger" sec:authorize="not isAuthenticated()">User: NOT AUTHENTICATED</div>
    </div>

    <div data:sem="aut_jwt_container">
        <h3>Set JWT Token</h3>
        <div class="alert alert-info">
            claim1=value1,claim2=value2
        </div>
        <form data-th-action="@{dev/jwtAut}"
              data-th-object="${tokenRequestForm}" method="post">
            <div class="form-group">
                <label for="username">Name</label>
                <input class="form-control" data-th-field="*{username}" data:sem="aut_jwt_username" id="username"/>
                <span class="help-inline error" th:errors="*{username}" th:if="${#fields.hasErrors('*{username}')}">error</span>
            </div>
            <div class="form-group">
                <label for="claims">Claims</label>
                <input class="form-control" data-th-field="*{claims}" data:sem="aut_jwt_claims" id="claims"/>
                <span class="help-inline error" th:errors="*{claims}"
                      th:if="${#fields.hasErrors('*{claims}')}">error</span>
            </div>
            <div class="form-group">
                <label for="httpOnly">HttpOnly</label>
                <input class="form-control" data-th-field="*{httpOnly}" data:sem="aut_jwt_httpOnly" id="httpOnly" type="checkbox"
                       value="true"/>
                <span class="help-inline error" th:errors="*{httpOnly}" th:if="${#fields.hasErrors('*{httpOnly}')}">error</span>
            </div>
            <div class="form-group">
                <label for="jwtRedirectTo">redirectTo</label>
                <input class="form-control" data-th-field="*{redirectTo}" data:sem="aut_jwt_redirectTo"
                       id="jwtRedirectTo"/>
                <span class="help-inline error" th:errors="*{redirectTo}"
                      th:if="${#fields.hasErrors('*{redirectTo}')}">error</span>
            </div>
            <button class="btn btn-primary" data:sem="aut_jwt_do" type="submit">Submit</button>
        </form>
    </div>
</div>
</body>

</html>
